#### United States

Let's explore the data series currently available for the United States.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/joshhellings/Documents/ECO/api/metadata-staging.csv')

In [4]:
# filter for usa
df_usa = df[df['country'] == 'usa']

In [5]:
df_usa.head()

,country_full,country,ecoSeries,ecoAPI,localAPI,localSeries,localDataset,Title,SubTitle,API_base,...,description,units,date,field,multiplier,date_keys,value_keys,filter,orient,use_cache
192,USA,usa,debt,https://api.economicsobservatory.com/usa/debt,https://api.stlouisfed.org/fred/series/observa...,GFDEGDQ188S,NaN,Debt,"Public Sector Net Debt, % GDP | Source: FRED t...",https://api.stlouisfed.org/fred/series/observa...,...,NaN,"% of GDP, Seasonally Adjusted",observations.date,observations.value,1,NaN,NaN,NaN,NaN,0
193,USA,usa,expo,https://api.economicsobservatory.com/usa/expo,https://api.stlouisfed.org/fred/series/observa...,EXPGS,NaN,Exports,"Goods and Services, billion USD | Source: FRED...",https://api.stlouisfed.org/fred/series/observa...,...,NaN,"$ billion USD, Seasonally Adjusted Annual Rate",observations.date,observations.value,1,NaN,NaN,NaN,NaN,0
194,USA,usa,grow,https://api.economicsobservatory.com/usa/grow,https://api.stlouisfed.org/fred/series/observa...,A191RL1Q225SBEA,NaN,GDP Growth,"Annually, %| Source: FRED through ECO API",https://api.stlouisfed.org/fred/series/observa...,...,NaN,%,observations.date,observations.value,1,NaN,NaN,NaN,NaN,0
195,USA,usa,impo,https://api.economicsobservatory.com/usa/impo,https://api.stlouisfed.org/fred/series/observa...,IMPGS,NaN,Imports,"Goods and Services, $ billion USD | Source: FR...",https://api.stlouisfed.org/fred/series/observa...,...,NaN,"$ billion USD, Seasonally Adjusted Annual Rate",observations.date,observations.value,1,NaN,NaN,NaN,NaN,0
196,USA,usa,inac,https://api.economicsobservatory.com/usa/inac,https://api.stlouisfed.org/fred/series/observa...,LRIN64TTUSQ156S,NaN,Inactivity,"Age 15-64, % workforce | Source: FRED through ...",https://api.stlouisfed.org/fred/series/observa...,...,NaN,%,observations.date,observations.value,1,NaN,NaN,NaN,NaN,0

In [15]:
# extract first value in `localAPI` column
df_usa['localAPI'].to_list()[0]

'https://api.stlouisfed.org/fred/series/observations?api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json&series_id=GFDEGDQ188S'

In [19]:
df_usa['API_base'].to_list()[0]

'https://api.stlouisfed.org/fred/series/observations?api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json&series_id='

In [18]:
df_usa['API_full'].to_list()[0]

'https://api.stlouisfed.org/fred/series/observations?api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json&series_id=GFDEGDQ188S'

In [20]:
df_usa['source'].to_list()[0]

'FRED'

In [21]:
df_usa['source_long'].to_list()[0]

'US Federal Reserve Economic Data'

In [30]:
df_usa['description'].to_list()[4]

nan

In [23]:
df_usa['units'].to_list()[1]

'$ billion USD, Seasonally Adjusted Annual Rate'

In [32]:
df_usa['date'].to_list()[1]

'observations.date'

In [34]:
df_usa['date_keys'].to_list()[1]

nan

In [10]:
# extract columns `ecoSeries`, `Title`
df_usa[['ecoSeries', 'Title', 'localSeries']]

    ecoSeries         Title      localSeries
192      debt          Debt      GFDEGDQ188S
193      expo       Exports            EXPGS
194      grow    GDP Growth  A191RL1Q225SBEA
195      impo       Imports            IMPGS
196      inac    Inactivity  LRIN64TTUSQ156S
197      ineq    Inequality     SIPOVGINIUSA
198      infl     Inflation   FPCPITOTLZGUSA
199      prod  Productivity           OPHNFB
200      unem  Unemployment           UNRATE
201      wage   Weekly wage   LES1252881600Q

Series to add:

- Employment Rate
- Population
- GDP
- GDP per capita
- Employed persons
- Participation Rate