In [2]:
import pandas as pd 
import numpy as np
import altair as alt
import eco_style
alt.themes.enable('light')

ThemeRegistry.enable('light')

# Fig1

In [3]:
hc_df = pd.read_csv("https://raw.githubusercontent.com/hcantekin/hcantekin.github.io/main/H50_fig1_data.csv")

In [13]:
hc_df.measure.value_counts()

measure
UK risk premium                  881
UK interest rate expectations    881
UK 10-year yield                 881
Name: count, dtype: int64

In [21]:
df = pd.read_excel("Masterfile BPT_230724.xlsx", sheet_name="UK SPOT", skiprows=3)
df = df.iloc[:, 5:7]
df.columns = ["date", "UK 10-year yield"]
df = df.dropna()
df['date'] = pd.to_datetime(df['date'], format='mixed', dayfirst=True)
yield_df = df.copy()

df = pd.read_excel("Masterfile BPT_230724.xlsx", sheet_name="Interest Rate Expectations", skiprows=0)
df = df[["Code", "UK - 10 yr"]]
df.columns = ["date", "UK interest rate expectations"]
df = df.dropna()
df['date'] = pd.to_datetime(df['date'], format='mixed', dayfirst=True)
expectations_df = df.copy()

df = pd.read_excel("Masterfile BPT_230724.xlsx", sheet_name="Term Premia", skiprows=0)
df = df[['Code', 'UK']]
df.columns = ["date", "UK risk premium"]
df = df.dropna()
df['date'] = pd.to_datetime(df['date'], format='mixed', dayfirst=True)
risk_premium_df = df.copy()

df = pd.merge(yield_df, expectations_df, on="date")
df = pd.merge(df, risk_premium_df, on="date")
df = df.melt(id_vars="date", var_name="measure", value_name="value")
df.to_csv("H50_fig1_data.csv", index=False)
df

           date           measure     value
0    2020-01-03  UK 10-year yield  0.740000
1    2020-01-06  UK 10-year yield  0.770000
2    2020-01-07  UK 10-year yield  0.790000
3    2020-01-08  UK 10-year yield  0.800000
4    2020-01-09  UK 10-year yield  0.830000
...         ...               ...       ...
3415 2024-07-16   UK risk premium -0.354808
3416 2024-07-17   UK risk premium -0.391435
3417 2024-07-18   UK risk premium -0.378913
3418 2024-07-19   UK risk premium -0.325573
3419 2024-07-22   UK risk premium -0.362236

[3420 rows x 3 columns]

In [19]:
hc_df

            date     value           measure
0     2021-01-04 -0.069332   UK risk premium
1     2021-01-05 -0.053777   UK risk premium
2     2021-01-06 -0.027133   UK risk premium
3     2021-01-07  0.020635   UK risk premium
4     2021-01-08  0.022879   UK risk premium
...          ...       ...               ...
2638  2024-07-02  4.220000  UK 10-year yield
2639  2024-07-03  4.140000  UK 10-year yield
2640  2024-07-04  4.180000  UK 10-year yield
2641  2024-07-05  4.100000  UK 10-year yield
2642  2024-07-08  4.090000  UK 10-year yield

[2643 rows x 3 columns]

In [ ]:
df.to_csv("uk_yield_expectations_risk_premium.csv", index=False)