In [2]:
import pandas as pd
import altair as alt
import eco_style
import numpy as np
alt.themes.enable('light')

ThemeRegistry.enable('light')

In [61]:
df = pd.read_csv("starts_ends.csv")
df['date'] = df.time_period.astype(str).str[:4]+"-09-01"
df = df[['date', 'starts', 'achievements', ]]
df = df.melt('date', var_name='series', value_name='value')
df = df.query("date < '2023-09-01'")

df['label'] = np.where(df.date == '2022-09-01', df.series, '')
df['label'] = df.label.str.title()

base = alt.Chart(df).encode(
    x=alt.X('date:T', axis=alt.Axis(title='')),
    y=alt.Y('value:Q', axis=alt.Axis(title='')),
    color=alt.Color('series:N', legend=None)
)

lines = base.mark_line()

end_labels = base.mark_text(
    align='left',
    baseline='middle',
    dx=7
).encode(
    text='label'
)

chart = (lines + end_labels).properties(
    title=alt.TitleParams(
        text="Apprenticeships",
        subtitle=["Starts and achievements, England, academic years", "Source: Department for Education", ""],
        subtitleColor = "#676A86",
        dx=45,
        anchor='start',
    ),

    width=400,
    height=300
)

chart.save('starts_ends.png', scale_factor=3)
chart.save('starts_ends.json')

chart

/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

alt.LayerChart(...)

In [62]:
df

          date        series   value         label
1   2022-09-01        starts  337140        Starts
2   2021-09-01        starts  349190
3   2020-09-01        starts  321440
4   2019-09-01        starts  322530
5   2018-09-01        starts  393380
6   2017-09-01        starts  375760
8   2022-09-01  achievements  162320  Achievements
9   2021-09-01  achievements  137220
10  2020-09-01  achievements  156530
11  2019-09-01  achievements  146900
12  2018-09-01  achievements  185150
13  2017-09-01  achievements  276160

In [64]:
337140-375760

-38620

# Map Data

In [17]:
df = pd.read_csv("panel_data.csv")
#df = df.query("time_period == 202324")
df = df[['time_period', 'new_la_code', 'starts']]
df.columns = ['date', 'id', 'value']
df['date'] = df['date'].astype(str).str[:4]+"-09-01"
df = df.dropna().query("id != 'z'")
df.to_csv('starts_panel_clean.csv', index=False)
df['year'] = df.date.str[:4]
df = df.pivot_table(index='id', columns='year', values='value').reset_index()
df.to_csv('starts_panel_wide.csv', index=False)
df

year,id,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,E06000001,670.0,1080.0,1400.0,1240.0,1260.0,1370.0,1460.0,1320.0,850.0,940.0,720.0,660.0,730.0,660.0,400.0
1,E06000002,1020.0,1750.0,1890.0,1900.0,1480.0,1710.0,1910.0,1860.0,1250.0,1270.0,940.0,900.0,1020.0,1040.0,570.0
2,E06000003,970.0,1860.0,2050.0,2120.0,1690.0,1930.0,2090.0,2110.0,1400.0,1380.0,1100.0,980.0,1090.0,990.0,550.0
3,E06000004,1270.0,2290.0,2680.0,2720.0,2340.0,2500.0,2770.0,2460.0,1670.0,1710.0,1360.0,1400.0,1600.0,1430.0,790.0
4,E06000005,690.0,1430.0,1850.0,1550.0,1230.0,1340.0,1700.0,1410.0,900.0,980.0,750.0,730.0,910.0,910.0,480.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,E10000029,3710.0,5360.0,6400.0,6320.0,5750.0,6570.0,6340.0,6140.0,4870.0,5220.0,4650.0,4160.0,4730.0,4440.0,2680.0
156,E10000030,4020.0,5130.0,5960.0,6220.0,5720.0,5710.0,5720.0,5420.0,4970.0,5420.0,4530.0,4910.0,5460.0,5200.0,3260.0
157,E10000031,2470.0,4100.0,4690.0,5300.0,4220.0,5080.0,4950.0,4820.0,3660.0,3730.0,3310.0,3290.0,3710.0,3780.0,2060.0
158,E10000032,2950.0,4780.0,5500.0,5610.0,4800.0,5400.0,5790.0,5920.0,4790.0,4860.0,4350.0,4260.0,4680.0,4570.0,2510.0
159,E10000034,2590.0,4940.0,5670.0,5690.0,4820.0,5420.0,5390.0,5570.0,4060.0,4200.0,3290.0,3490.0,3680.0,3540.0,2110.0

## England Constituencies

In [57]:
df = pd.read_csv("wpc_starts.csv")
#df = df.query("time_period == 202324")

df = df[['time_period', 'pcon_code', 'pcon_name', 'starts']]
df.columns = ['date', 'id', 'name', 'value']
df['date'] = df['date'].astype(str).str[:4]+"-09-01"
df.value.quantile([0.01, 0.99])

df.to_csv('starts_wpc_panel_clean.csv', index=False)
df['year'] = df.date.str[:4]
df = df.pivot_table(index=['id', 'name'], columns='year', values='value').reset_index()
df.to_csv('starts_wpc_panel_wide.csv', index=False)
df['fall'] = df['2022'] - df['2010']
df.sort_values('fall', ascending=True).head(10)

year,id,name,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,fall
26,E14000556,Beverley and Holderness,4210.0,3540.0,3850.0,2890.0,2890.0,3170.0,2840.0,3160.0,2660.0,2630.0,2070.0,1670.0,1790.0,1360.0,690.0,-2180.0
518,E14001048,Wokingham,2450.0,2240.0,2140.0,2370.0,1850.0,1650.0,800.0,550.0,530.0,600.0,550.0,600.0,590.0,630.0,390.0,-1610.0
200,E14000730,Harrogate and Knaresborough,1780.0,1990.0,2220.0,1490.0,740.0,820.0,930.0,890.0,610.0,660.0,540.0,650.0,600.0,630.0,370.0,-1360.0
178,E14000708,Garston and Halewood,860.0,1740.0,1770.0,1380.0,1010.0,1190.0,1160.0,1240.0,780.0,770.0,670.0,540.0,680.0,640.0,350.0,-1100.0
264,E14000794,"Liverpool, Walton",900.0,1550.0,1740.0,1520.0,1170.0,1230.0,1310.0,1350.0,820.0,820.0,630.0,610.0,580.0,540.0,310.0,-1010.0
245,E14000775,Knowsley,1040.0,1810.0,2130.0,1840.0,1480.0,1580.0,1570.0,1600.0,1000.0,1010.0,870.0,800.0,850.0,830.0,470.0,-980.0
224,E14000754,Houghton and Sunderland South,820.0,1610.0,1480.0,1340.0,1170.0,1440.0,1530.0,1330.0,840.0,890.0,680.0,660.0,800.0,660.0,410.0,-950.0
323,E14000853,North Tyneside,890.0,1730.0,1850.0,1630.0,1340.0,1540.0,1490.0,1310.0,1000.0,980.0,760.0,760.0,870.0,800.0,480.0,-930.0
232,E14000762,Isle of Wight,820.0,1690.0,1760.0,1630.0,1430.0,1580.0,1400.0,1550.0,1110.0,1000.0,920.0,930.0,990.0,810.0,460.0,-880.0
51,E14000581,Bootle,930.0,1510.0,1780.0,1760.0,1260.0,1410.0,1390.0,1490.0,910.0,910.0,750.0,630.0,670.0,650.0,320.0,-860.0

In [16]:
df = pd.read_csv("wpc_starts.csv")
#df = df.query("time_period == 202324")

df = df[['time_period', 'pcon_code', 'pcon_name', 'starts']]
df.columns = ['date', 'id', 'name', 'value']
df['date'] = df['date'].astype(str).str[:4]+"-09-01"
df.value.quantile([0.01, 0.99])


df['year'] = df.date.str[:4]
df = df.pivot_table(index=['id', 'name'], columns='year', values='value').reset_index()

df = df.drop(columns=["2023", "2009"])


for year in range(2022, 2009, -1):
    df[str(year)] = (df[str(year)]-df["2010"])/df["2010"]

df.to_csv('starts_wpc_panel_wide_change.csv', index=False)

In [25]:
df.sort_values('2022', ascending=True)

year,id,name,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
518,E14001048,Wokingham,0.0,-0.044643,0.058036,-0.174107,-0.263393,-0.642857,-0.754464,-0.763393,-0.732143,-0.754464,-0.732143,-0.736607,-0.718750
200,E14000730,Harrogate and Knaresborough,0.0,0.115578,-0.251256,-0.628141,-0.587940,-0.532663,-0.552764,-0.693467,-0.668342,-0.728643,-0.673367,-0.698492,-0.683417
264,E14000794,"Liverpool, Walton",0.0,0.122581,-0.019355,-0.245161,-0.206452,-0.154839,-0.129032,-0.470968,-0.470968,-0.593548,-0.606452,-0.625806,-0.651613
178,E14000708,Garston and Halewood,0.0,0.017241,-0.206897,-0.419540,-0.316092,-0.333333,-0.287356,-0.551724,-0.557471,-0.614943,-0.689655,-0.609195,-0.632184
26,E14000556,Beverley and Holderness,0.0,0.087571,-0.183616,-0.183616,-0.104520,-0.197740,-0.107345,-0.248588,-0.257062,-0.415254,-0.528249,-0.494350,-0.615819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,E14000824,Mole Valley,0.0,0.333333,0.444444,0.259259,0.518519,0.555556,0.407407,0.407407,0.555556,0.185185,0.444444,0.555556,0.407407
183,E14000713,Gosport,0.0,0.179191,0.242775,0.346821,0.479769,0.502890,0.578035,0.421965,0.473988,0.335260,0.520231,0.508671,0.416185
283,E14000813,Mid Bedfordshire,0.0,0.250000,0.410714,0.160714,0.410714,0.464286,0.571429,0.660714,0.821429,0.642857,0.696429,0.732143,0.910714
365,E14000895,Richmond (Yorks),0.0,2.191304,3.095652,2.913043,4.791304,3.417391,2.530435,2.139130,1.956522,2.573913,1.800000,1.730435,1.626087
330,E14000860,North Wiltshire,0.0,0.000000,0.076923,-0.096154,0.153846,2.576923,2.557692,2.557692,2.519231,1.807692,1.846154,1.807692,1.653846

In [23]:
df.melt(id_vars=['id', 'name'], var_name='year', value_name='change')['change'].quantile([0.01, 0.99])

0.01   -0.540890
0.99    0.474827
Name: change, dtype: float64

In [ ]:

df.to_csv('starts_wpc_panel_clean.csv', index=False)
df['year'] = df.date.str[:4]
df = df.pivot_table(index=['id', 'name'], columns='year', values='value').reset_index()
df.to_csv('starts_wpc_panel_wide.csv', index=False)
df['fall'] = df['2022'] - df['2010']
df.sort_values('fall', ascending=True).head(10)

In [60]:
df['2022'].sum()

337340.0

In [40]:
len(df.query("fall > 0"))

3

/var/folders/07/g_yq2xsn0mvb4xnyvr18jjmw0000gn/T/ipykernel_51201/3255393723.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].astype(str).str[:4]+"-09-01"
/var/folders/07/g_yq2xsn0mvb4xnyvr18jjmw0000gn/T/ipykernel_51201/3255393723.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df.date.str[:4]

year,id,name,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,fall
330,E14000860,North Wiltshire,370.0,520.0,520.0,560.0,470.0,600.0,1860.0,1850.0,1850.0,1830.0,1460.0,1480.0,1460.0,1380.0,740.0,220.0
283,E14000813,Mid Bedfordshire,390.0,560.0,700.0,790.0,650.0,790.0,820.0,880.0,930.0,1020.0,920.0,950.0,970.0,1070.0,590.0,30.0
365,E14000895,Richmond (Yorks),580.0,1150.0,3670.0,4710.0,4500.0,6660.0,5080.0,4060.0,3610.0,3400.0,4110.0,3220.0,3140.0,3020.0,1160.0,10.0
366,E14000896,Richmond Park,130.0,220.0,270.0,250.0,220.0,230.0,270.0,230.0,260.0,310.0,280.0,330.0,310.0,290.0,190.0,-30.0
294,E14000824,Mole Valley,210.0,270.0,360.0,390.0,340.0,410.0,420.0,380.0,380.0,420.0,320.0,390.0,420.0,380.0,230.0,-40.0
510,E14001040,Wimbledon,110.0,240.0,260.0,230.0,190.0,230.0,260.0,220.0,250.0,310.0,290.0,280.0,310.0,300.0,180.0,-60.0
99,E14000629,Chelsea and Fulham,100.0,230.0,220.0,200.0,180.0,190.0,210.0,180.0,230.0,250.0,200.0,280.0,280.0,260.0,160.0,-70.0
164,E14000694,Epsom and Ewell,260.0,350.0,490.0,510.0,410.0,470.0,520.0,460.0,450.0,550.0,450.0,430.0,510.0,460.0,280.0,-70.0
467,E14000997,Tonbridge and Malling,240.0,390.0,480.0,550.0,460.0,510.0,550.0,540.0,460.0,510.0,440.0,500.0,500.0,510.0,320.0,-70.0
19,E14000549,Battersea,160.0,340.0,370.0,330.0,270.0,340.0,310.0,350.0,360.0,470.0,390.0,470.0,490.0,430.0,270.0,-70.0

In [29]:
df.query("date == '2023-09-01'").sort_values('value', ascending=True).head(10)

            date         id  value
7714  2023-09-01  E14000768    120
7575  2023-09-01  E14000629    160
7983  2023-09-01  E14001036    180
7834  2023-09-01  E14000887    180
7987  2023-09-01  E14001040    180
7843  2023-09-01  E14000896    190
7794  2023-09-01  E14000848    200
7710  2023-09-01  E14000764    200
7649  2023-09-01  E14000703    200
7673  2023-09-01  E14000727    210

AttributeError: 'DataFrame' object has no attribute 'date'