In [6]:
import pandas as pd
import numpy as np
import altair as alt
import eco_style
alt.themes.enable('light')

ThemeRegistry.enable('light')

In [52]:
df = pd.read_csv('requests_for_support.csv')
df['Series'] = df.Series.str.strip()
# Region	Value	Series

df = df[['Region', 'Value', 'Series']]
df = df.pivot_table(index='Region', columns='Series', values='Value').reset_index()
df['Total Number of Requests'] = df['Total Number of Requests']-df['No Services Provided - Deceased']-df['No Services Provided']
df = df.melt(id_vars='Region', value_vars=['Total Number of Requests', 'No Services Provided', 'No Services Provided - Deceased'], var_name='Series', value_name='Value')
df

# replace Yorkshire and The Humber with Yorksh. & Humber
region_maps = {
    'East Midlands': 'E. Midlands',
    'West Midlands': 'W. Midlands',
    'East of England': 'E. of England',
    'North East': 'N. East',
    'North West': 'N. West',
    'South East': 'S. East',
    'South West': 'S. West',
    'Yorkshire and The Humber': 'Yorksh. & Humber'
}

df['Region'] = df['Region'].replace(region_maps)

df

              Region                           Series          Value
0        E. Midlands         Total Number of Requests   91025.641054
1      E. of England         Total Number of Requests   83333.333322
2             London         Total Number of Requests   89743.589716
3            N. East         Total Number of Requests   57692.307696
4            N. West         Total Number of Requests  112820.512792
5            S. East         Total Number of Requests  158974.358994
6            S. West         Total Number of Requests   97435.897432
7        W. Midlands         Total Number of Requests  103846.153844
8   Yorksh. & Humber         Total Number of Requests  142307.692284
9        E. Midlands             No Services Provided   35897.435900
10     E. of England             No Services Provided   46153.846150
11            London             No Services Provided   34615.384620
12           N. East             No Services Provided   20512.820510
13           N. West             No Services Provided   65384.615380
14           S. East             No Services Provided   60256.410260
15           S. West             No Services Provided   61538.461540
16       W. Midlands             No Services Provided   42307.692310
17  Yorksh. & Humber             No Services Provided   30769.230770
18       E. Midlands  No Services Provided - Deceased    3846.153846
19     E. of England  No Services Provided - Deceased    5128.205128
20            London  No Services Provided - Deceased    2564.102564
21           N. East  No Services Provided - Deceased    2564.102564
22           N. West  No Services Provided - Deceased    5128.205128
23           S. East  No Services Provided - Deceased    3846.153846
24           S. West  No Services Provided - Deceased    5128.205128
25       W. Midlands  No Services Provided - Deceased    3846.153846
26  Yorksh. & Humber  No Services Provided - Deceased    3846.153846

In [56]:


bars = alt.Chart(df.query("Series != 'Total Number of Requests'")).mark_bar().encode(
    x=alt.X("Region:N"),
    y=alt.Y("Value:Q"),
    color=alt.Color("Series:N", 
                    
                    scale=alt.Scale(
                        domain=['No Services Provided', 'No Services Provided - Deceased' , 'Total Number of Requests'],
                        range=['#36B7B4', '#E6224B', 'black']),
                    legend=alt.Legend(
                        labelLimit=2000000,
        orient="top",
        values = ['No Services Provided', 'No Services Provided - Deceased', 'Total Number of Requests'],
          title=None)),
)

points = alt.Chart(df.query("Series == 'Total Number of Requests'")).mark_circle(size=5).encode(
    x=alt.X("Region:N"),
    y=alt.Y("Value:Q", title=''),
    color=alt.value('black'),
    size=alt.value(100),
)

chart = (bars + points).properties(
    width=625,
    height=300
)

chart.save('chart.png', scale_factor=3)

chart

/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

alt.LayerChart(...)

## Proportions

In [71]:
df = pd.read_csv('requests_for_support.csv')
df['Series'] = df.Series.str.strip()
# Region	Value	Series

df = df[['Region', 'Value', 'Series']]
df = df.pivot_table(index='Region', columns='Series', values='Value').reset_index()
df['Total Number of Requests'] = df['Total Number of Requests']-df['No Services Provided - Deceased']-df['No Services Provided']
df['Value'] = (df['No Services Provided - Deceased'] + df['No Services Provided'])/df['Total Number of Requests']

df = df[['Region', 'Value']]

region_maps = {
    'East Midlands': 'E. Midlands',
    'West Midlands': 'W. Midlands',
    'East of England': 'E. of England',
    'North East': 'N. East',
    'North West': 'N. West',
    'South East': 'S. East',
    'South West': 'S. West',
    'Yorkshire and The Humber': 'Yorksh. & Humber'
}

df['Region'] = df['Region'].replace(region_maps)

df

bars = alt.Chart(df).mark_bar(color="#36B7B4").encode(
    y=alt.Y("Region:N", sort='-x', title=''),
    x=alt.X("Value:Q", axis=alt.Axis(format='%')),
)

chart = (bars).properties(
    width=500,
    height=300
)

chart.save('no_services_proportion.png', scale_factor=3)
chart.save('no_services_proportion.json')
chart

/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

alt.Chart(...)

# Reversed

In [12]:
df = pd.read_csv('requests_for_support.csv')
df['Series'] = df.Series.str.strip()
# Region	Value	Series

df = df[['Region', 'Value', 'Series']]
df = df.pivot_table(index='Region', columns='Series', values='Value').reset_index()
#df['Total Number of Requests'] = df['Total Number of Requests']-df['No Services Provided - Deceased']-df['No Services Provided']
df['Value'] =( df['No Services Provided'])/df['Total Number of Requests']



df = df[['Region', 'Value']]

region_maps = {
    'East Midlands': 'E. Midlands',
    'West Midlands': 'W. Midlands',
    'East of England': 'E. of England',
    'North East': 'N. East',
    'North West': 'N. West',
    'South East': 'S. East',
    'South West': 'S. West',
    'Yorkshire and The Humber': 'Yorksh. & Humber'
}

df['Region'] = df['Region'].replace(region_maps)

df

bars = alt.Chart(df).mark_bar(color="#36B7B4").encode(
    y=alt.Y("Region:N", sort='-x', title=''),
    x=alt.X("Value:Q", axis=alt.Axis(format='%')),
)

chart = (bars).properties(
    width=500,
    height=300
)

chart.save('no_services_proportion_flipped.png', scale_factor=3)
chart.save('no_services_proportion_flipped.json')

chart = chart.properties(
    title = {
        "text": "Requests without Treatment (65+)",
        "dx": 90,
        "anchor": "start",
        "subtitle": ["Support requests from new clients (aged 65+) resulting in no service provision" , "English regions, 2021-22", ""],
        "subtitleColor": "#676A86",
    }
)
chart.save('no_services_proportion_flipped_title.png', scale_factor=3)

/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

In [ ]:
yrk - 30.666

In [ ]:

df = df[['Region', 'Value']]

df

In [ ]:

df = df.melt(id_vars='Region', value_vars=['Total Number of Requests', 'No Services Provided', 'No Services Provided - Deceased'], var_name='Series', value_name='Value')
df

# replace Yorkshire and The Humber with Yorksh. & Humber

In [17]:
df.Series.unique()

array([' No Services Provided - Deceased', ' No Services Provided',
       ' Total Number of Requests'], dtype=object)

In [19]:
df.query("Series != ' Total Number of Requests'")

,Region,Value,Series,Unnamed: 3
0,North East,2564.102564,No Services Provided - Deceased,0
1,North East,20512.820510,No Services Provided,0
3,North West,5128.205128,No Services Provided - Deceased,1
4,North West,65384.615380,No Services Provided,1
6,Yorkshire and The Humber,3846.153846,No Services Provided - Deceased,2
7,Yorkshire and The Humber,30769.230770,No Services Provided,2
9,East Midlands,3846.153846,No Services Provided - Deceased,3
10,East Midlands,35897.435900,No Services Provided,3
12,West Midlands,3846.153846,No Services Provided - Deceased,4
13,West Midlands,42307.692310,No Services Provided,4
15,East of England,5128.205128,No Services Provided - Deceased,5
16,East of England,46153.846150,No Services Provided,5
18,London,2564.102564,No Services Provided - Deceased,6
19,London,34615.384620,No Services Provided,6
21,South East,3846.153846,No Services Provided - Deceased,7
22,South East,60256.410260,No Services Provided,7
24,South West,5128.205128,No Services Provided - Deceased,8
25,South West,61538.461540,No Services Provided,8