In [1]:
import pandas as pd

---

#### Productivity

In [7]:
dataset = 'Labor productivity index.xlsx'
raw_data = pd.read_excel('raw_data/' + dataset, header=None)

raw_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,NaN,Updated 01.04.2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Labor productivity index for the economy as a ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,( in percent to the previous year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Codes,NaN,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.000000,2010.0,2011.0,NaN,Methodological notes,Periodicity,Timelines (according to the Federal Statistica...,Executant
4,NaN,Total in the economy,NaN,106.5,105.5,107.5,107.5,104.8,95.9,103.173659,103.2,103.8,NaN,The dynamics of labor productivity is calculat...,Annual,September,Ms. Tatyana Badyaeva +7 (495) 607-44-22

In [33]:
# header index contains 'Codes' string in first column
header_idx = raw_data[raw_data[0].str.contains('Codes', na=False)].index[0]

# footer index is row where 2nd column has value containing string 'Total'
footer_idx = raw_data[raw_data[1].str.contains('Total', na=False)].index[0]

In [ ]:
# specify number of rows to read after header row
num_rows = footer_idx - header_idx

In [71]:
header_row = raw_data[raw_data[0].str.contains('Codes', na=False)]

In [72]:
# Try to convert each column in `header_row` to int, if not possible, set as NaN
value_idxs = header_row.apply(pd.to_numeric, errors='coerce')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
3,Codes,NaN,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2010.0,2011.0,NaN,Methodological notes,Periodicity,Timelines (according to the Federal Statistica...,Executant

In [77]:
# get indexes of non-NaN values
header_row = header_row.dropna(axis=1).columns.tolist()
header_row

[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16]

In [76]:
value_idxs

[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16]

In [75]:
[chr(65 + i) for i in value_idxs]

['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'N', 'O', 'P', 'Q']

In [66]:
header_row

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [56]:


# an unknown range of columns in `header_row` have a year value that is in float format.
# try to convert to int, if it fails, then it is not a year value, so remember indexes to drop
drop_cols = []
for col in header_row.columns:
    try:
        int(header_row[col].values[0])
    except:
        drop_cols.append(col)

# find range of columns to read from `drop_cols` and convert to letters for excel splic
# this range will be where values in `drop_cols` are not consecutive
# i.e. [0, 1, 2, 6, 7] -> [3, 5] -> [D, F] 
drop_cols = [ord(str(col)) - ord('A') for col in drop_cols]

# drop_cols = [ord(col) - ord('A') for col in drop_cols]
# drop_cols = [chr(ord('A') + i) for i in range(drop_cols[0], drop_cols[-1] + 1)]

TypeError: ord() expected a character, but string of length 2 found

In [57]:
ord(15)

TypeError: ord() expected string of length 1, but int found

In [54]:
#

In [58]:
drop_cols

[0, 1, 12, 13, 14, 15, 16]

In [35]:
header_row.astype(str)

NameError: name 'header_row' is not defined

In [ ]:
df_infl_wide = pd.read_excel(
    io='raw_data/' + dataset, 
    header=header_idx,
    nrows=num_rows,
    usecols="A:M", 
    index_col=0
)

In [26]:
# header index is row where some columns contain valid year values, e.g. 2000, 2001 etc. Find this row
# check is values are in a range of years, create string list first
years = [str(year) for year in range(2000, 2020)]
# check if values are in a range of years, check for multiple columns
raw_data[1].isin(years) | raw_data[3].isin(years)

y

NameError: name 'y' is not defined

---

Employed

In [89]:
dataset = 'ind_05-2023.xlsx'
raw_data_contents = pd.read_excel('raw_data/' + dataset, header=None, sheet_name='The Contens', keep_default_na=False, na_values=' ')

In [90]:
raw_data_contents

,0,1,2,3,4,5,6,7
0,,,THE CONTENTS,,,,,
1,,,p.,,,,p.,
2,1,Aggregated indicators,4,,3,Prices,163,
3,1.1.,Gross domestic product,4,,3.1.,Producer price index of industrial goods,163,
4,1.2.,Industrial production index,6,,3.1.1.,Average producer prices for energy resources ...,166,
5,1.3.,Agricultural production index at enterprises...,11,,3.2.,Producer price indices of animal husbandry pr...,178,
6,1.4.,Production of animal husbandry products at ent...,12,,3.3.,Aggregated price index for investment produc...,187,
7,1.5.,"Freight turnover of transport, including comm...",18,,3.4.,Freight producer price index,189,
8,1.6.,Investments in fixed capital,27,,3.5.,Consumer price index,190,
9,1.6.1.,Investments in fixed capital of organizations...,31,,4,Social field,195,
10,1.7.,Volume of works in construction activity,36,,4.1.,Employment,195,
11,1.8.,Residential buildings commissioned by organiza...,39,,4.2.,Wages,206,
12,1.9.,Foreign trade turnover,42,,4.3.,Pensions,211,
13,1.10.,Official exchange rate of foreign currencies,69,,4.4.,Money income of the population,217,
14,1.11.,"Deficit (-), surplus of consolidated budget",71,,4.5.,Deposits and other raised funds of private per...,229,
15,1.12.,Retail trade turnover,73,,4.6.,Population in Russia by per capita money income,234,
16,1.13.,Volume of market services,88,,4.7.,Average per capita monthly subsistence minimum,235,
17,1.14.,Consumer price index,92,,4.8.,Population with money income below the subsis...,241,
18,2,Finances,100,,,,,NaN
19,2.1.,Revenues and expenditures,100,,,,,
20,2.2.,Net financial result by economic activity,136,,,,,
21,2.3.,"Credits, deposits and other allocated funds, ...",143,,,,,
22,2.4.,Indebtedness of organizations,148,,,,,
23,2.5.,Overdue arrears of wages,160,,,,,

### Employment

Excel sheet 4.1

In [91]:
raw_data = pd.read_excel('raw_data/' + dataset, header=None, sheet_name='4.1')

In [92]:
raw_data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,NaN,Год1),Кварталы1) / Quarters1),NaN,NaN,NaN,Янв.,Фев.,Март,Апр.,Май,Июнь,Июль,Август,Сент.,Окт.,Нояб.,Дек.
1,NaN,Year1),I,II,III,IV,Jan.,Feb.,Mar.,Apr.,May,June,July,Aug.,Sept.,Oct.,Nov.,Dec.
2,4. Социальная сфера,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,/ Social field,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.1. Занятость населения,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,/ In order to insure the statistical comparab...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,6) С января 2017 г. обследуется население в во...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,/ Since January 2017 the population aged 15 ye...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,7) С января 2002 г. – с учетом численности оф...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,/ Since January 2002 data include number of un...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

---

Manually cleaned series

In [168]:
## From manual clean
raw_data = pd.read_csv('raw_data/unem.csv', index_col=0)
df = raw_data.stack().reset_index()
df.head(3)

   date   level_1     0
0  1999   January  14.3
1  1999  February  14.6
2  1999     March  14.0

In [169]:
df['date'] = df['level_1'].astype(str) + ' ' + df['date'].astype(str)
df = df.drop('level_1', axis=1)
df.columns = ['date', 'value']
df['date'] = pd.to_datetime(df['date'], format='%B %Y')

# convert datetime to string so it exports to json in correct yyyy-mm-dd format
df['date'] = df['date'].astype(str)

In [170]:
# export to csv & json
df.to_csv('data/unem.csv', index=False)
df.to_json('data/unem.json', orient='records')

notes: from 1999 until 2016, UE rate is 15-72 year olds. Post-2017, UE rate is 15+ years.

---

##### Employed

In [171]:
## From manual clean
raw_data = pd.read_csv('raw_data/empd.csv', index_col=0)
df = raw_data.stack().reset_index()
df.head(3)

   date   level_1     0
0  1999   January  60.4
1  1999  February  61.1
2  1999     March  61.7

In [172]:
df['date'] = df['level_1'].astype(str) + ' ' + df['date'].astype(str)
df = df.drop('level_1', axis=1)
df.columns = ['date', 'value']
df['date'] = pd.to_datetime(df['date'], format='%B %Y')
# convert datetime to string so it exports to json in correct yyyy-mm-dd format
df['date'] = df['date'].astype(str)

# convert to millions
df['value'] *= 1e6
df['value'] = df['value'].astype(int)

In [173]:
# export to csv & json
df.to_csv('data/empd.csv', index=False)
df.to_json('data/empd.json', orient='records')

##### Unemployed

In [174]:
raw_data = pd.read_csv('raw_data/umpd.csv', index_col=0)
df = raw_data.stack().reset_index()
df.head(3)

   date   level_1       0
0  1999   January  2175.0
1  1999  February  2184.0
2  1999     March  2143.0

In [175]:
df['date'] = df['level_1'].astype(str) + ' ' + df['date'].astype(str)
df = df.drop('level_1', axis=1)
df.columns = ['date', 'value']
df['date'] = pd.to_datetime(df['date'], format='%B %Y')
# convert datetime to string so it exports to json in correct yyyy-mm-dd format
df['date'] = df['date'].astype(str)

# convert to millions
df['value'] *= 1e6
df['value'] = df['value'].astype(int)

In [176]:
# export to csv & json
df.to_csv('data/umpd.csv', index=False)
df.to_json('data/umpd.json', orient='records')

##### Inactive Population

Number of citizens not engaged in labor activities, registered   with bodies of  state employment services   (data of the Federal Service for Labour and Employment), thousands person

Unsure if this is just registered unemployed or all inactive population

---

#### Consumer Price Index

In [131]:
raw_data = pd.read_excel('raw_data/ind_05-2023.xlsx', header=None, sheet_name='1.14')

In [177]:
# extracted manually
raw_data = pd.read_csv('raw_data/infl.csv', index_col=0)
df = raw_data.stack().reset_index()
df.head(3)

   date   level_1      0
0  1999   January  196.9
1  1999  February  203.3
2  1999     March  207.6

In [178]:
df['date'] = df['level_1'].astype(str) + ' ' + df['date'].astype(str)
df = df.drop('level_1', axis=1)
df.columns = ['date', 'value']
df['date'] = pd.to_datetime(df['date'], format='%B %Y')
# convert datetime to string so it exports to json in correct yyyy-mm-dd format
df['date'] = df['date'].astype(str)
# current an annualised monthly index, so -100 to get to annual inflation rate (%) for each month
df['value'] -= 100

In [179]:
df

           date  value
0    1999-01-01   96.9
1    1999-02-01  103.3
2    1999-03-01  107.6
3    1999-04-01  113.1
4    1999-05-01  116.7
..          ...    ...
288  2023-01-01   11.8
289  2023-02-01   11.0
290  2023-03-01    3.5
291  2023-04-01    2.3
292  2023-05-01    2.5

[293 rows x 2 columns]

In [180]:
# export to csv & json
df.to_csv('data/infl.csv', index=False)
df.to_json('data/infl.json', orient='records')

---

#### Imports

Series, excel sheet 1.9, export of goods – total,bln US dollars

In [183]:
# extracted manually
raw_data = pd.read_csv('raw_data/impo.csv', index_col=0)
df = raw_data.stack().reset_index()
df.head(3)

   date   level_1    0
0  1999   January  2.7
1  1999  February  3.0
2  1999     March  3.5

In [184]:
df['date'] = df['level_1'].astype(str) + ' ' + df['date'].astype(str)
df = df.drop('level_1', axis=1)
df.columns = ['date', 'value']
df['date'] = pd.to_datetime(df['date'], format='%B %Y')
# convert datetime to string so it exports to json in correct yyyy-mm-dd format
df['date'] = df['date'].astype(str)
# currently in billions, convert to millions
df['value'] *= 1e3

In [185]:
# export to csv & json
df.to_csv('data/impo.csv', index=False)
df.to_json('data/impo.json', orient='records')

##### Exports

In [186]:
# extracted manually
raw_data = pd.read_csv('raw_data/expo.csv', index_col=0)
df = raw_data.stack().reset_index()
df.head(3)

   date   level_1    0
0  1999   January  4.5
1  1999  February  4.9
2  1999     March  5.8

In [187]:
df['date'] = df['level_1'].astype(str) + ' ' + df['date'].astype(str)
df = df.drop('level_1', axis=1)
df.columns = ['date', 'value']
df['date'] = pd.to_datetime(df['date'], format='%B %Y')
# convert datetime to string so it exports to json in correct yyyy-mm-dd format
df['date'] = df['date'].astype(str)
# currently in billions, convert to millions
df['value'] *= 1e3

In [188]:
# export to csv & json
df.to_csv('data/expo.csv', index=False)
df.to_json('data/expo.json', orient='records')

---

#### Growth

Excel sheet 1.1: / Volume index of produced GDP, percent of corresponding period of previous year

In [163]:
# extracted manually
raw_data = pd.read_csv('raw_data/grow.csv', index_col=0)
df = raw_data.stack().reset_index()
df.head(3)

   date level_1      0
0  1999      Q1   98.2
1  1999      Q2  103.2
2  1999      Q3  111.5

In [164]:
# combine text in columns 0 and 1
df['date'] = df['date'].astype(str) + '-' + df['level_1'].astype(str)
df = df.drop('level_1', axis=1)
df.columns = ['date', 'value']

df['value'] -= 100
df['value'] = round(df['value'],2)

In [165]:
df['date'] = pd.to_datetime(df['date'].str.replace(r'(Q\d) (\d+)', r'\2-\1'), errors='coerce')

# convert datetime to string so it exports to json in correct yyyy-mm-dd format
df['date'] = df['date'].astype(str)

/var/folders/6p/njxvnljx3b36_1d566nq5mjh0000gn/T/ipykernel_55656/1091625229.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date'] = pd.to_datetime(df['date'].str.replace(r'(Q\d) (\d+)', r'\2-\1'), errors='coerce')

In [167]:
# export to csv & json
df.to_csv('data/grow.csv', index=False)
df.to_json('data/grow.json', orient='records')