In [1]:
import pandas as pd
import numpy as np
import eco_style
import altair as alt
import pycountry

alt.themes.enable('light')

ThemeRegistry.enable('light')

# Where has national service

In [2]:
# let's fetch from wikipedia, filter for Europe and manually verify
dfs = pd.read_html("https://en.wikipedia.org/wiki/Conscription")

In [14]:
df = dfs[2].copy()
# remove all (bracketed) bits in the Country column
df['Country'] = df['Country'].str.replace(r'\[.*?\]|\(.*?\)', '', regex=True)
def get_iso3(country):
    return

,Country,Conscription[112],Conscription sex
0,Afghanistan,No (abolished in 1992),NaN
1,Albania,No (abolished in 2010)[113],NaN
2,Algeria,Yes,Male
3,Angola,Yes,Male
4,Argentina,No. Voluntary; conscription may be required fo...,NaN
...,...,...,...
99,United Kingdom,No. Required from 1916 until 1920 and from 193...,NaN
100,United States,"No. Abandoned in 1973, but registration is sti...",NaN
101,Vanuatu,No,NaN
102,Venezuela,Yes[183][184],Male and female
103,Vietnam,Yes,Male