In [49]:
import geopandas as gpd

import pandas as pd
import json

In [50]:
df = pd.read_excel("amy cook - pusstats data request - 26.02.2024.xlsx")

In [52]:
df.region.unique()

array(['Eastern', 'Midlands & Western', 'Northern', 'Scotland',
       'South Eastern', 'South Western', 'Wales', 'Northern Ireland'],
      dtype=object)

In [53]:
gdf = gpd.read_file("https://raw.githubusercontent.com/EconomicsObservatory/courses/main/datasets/advanced/nuts1.json")

# ['Eastern', 'Midlands & Western', 'Northern', 'Scotland',
#        'South Eastern', 'South Western', 'Wales', 'Northern Ireland']

#  ['SOUTH WEST (ENGLAND)', 'WALES', 'NORTHERN IRELAND',
#        'NORTH EAST (ENGLAND)', 'NORTH WEST (ENGLAND)',
#        'YORKSHIRE AND THE HUMBER', 'EAST MIDLANDS (ENGLAND)',
#        'WEST MIDLANDS (ENGLAND)', 'EAST OF ENGLAND', 'LONDON',
#        'SOUTH EAST (ENGLAND)', 'SCOTLAND']

to_merge = {
    'SOUTH WEST (ENGLAND)': 'South Western',
    'WALES': 'Wales',
    'NORTHERN IRELAND': 'Northern Ireland',
    'NORTH EAST (ENGLAND)': 'Northern',
    'NORTH WEST (ENGLAND)': 'Northern',
    'YORKSHIRE AND THE HUMBER': 'Northern',
    'EAST MIDLANDS (ENGLAND)': 'Midlands & Western',
    'WEST MIDLANDS (ENGLAND)': 'Midlands & Western',
    'EAST OF ENGLAND': 'Eastern',
    'LONDON': 'South Eastern',
    'SOUTH EAST (ENGLAND)': 'South Eastern',
    'SCOTLAND': 'Scotland'
}

gdf['region'] = gdf['NAME_LATN'].map(to_merge)

gdf = gdf.dissolve(by='region')

gdf.to_file("pusstats_regions.geojson", driver='GeoJSON')

# The Data

In [59]:
df = pd.read_excel("amy cook - pusstats data request - 26.02.2024.xlsx")
df = df.rename(columns={ # clean up column names
    'suryear': 'year',
    'm_app': 'application_method',
    'cropgroup': 'crop_group',
    'chemgroup': 'chemical_group',
    'area treated (ha)': 'area_treated',
    'weight applied (kg)': 'weight_applied'
})

# the table is prohibitavely large, so I'll sum all the vals in the active col to a single value
df = df.groupby(by=["year", 'survey_name', 'region', 'application_method', 'crop_group', 'chemical_group']).agg({'area_treated': 'sum', 'weight_applied': 'sum'}).reset_index()

# add an 'All' category to survey_name, application_method, crop_group, and chemical_group
for col in ['survey_name', 'application_method', 'crop_group', 'chemical_group']:
    agg_df = df.groupby(by=[c for c in df.columns if c not in [col, 'area_treated', 'weight_applied']]).agg({'area_treated': 'sum', 'weight_applied': 'sum'}).reset_index()
    agg_df[col] = 'All'
    df = pd.concat([df, agg_df])


#  Add a most-recent option to the year column
df = df.sort_values(by='year').reset_index(drop=True)
most_recent_data = df.drop_duplicates(subset=[c for c in df.columns if c != 'year'], keep='last')
most_recent_data['year'] = 'Most Recent'

df = pd.concat([df, most_recent_data])




df.to_csv("chemical_group_level_data.csv", index=False)

/var/folders/07/g_yq2xsn0mvb4xnyvr18jjmw0000gn/T/ipykernel_9228/1141011789.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  most_recent_data['year'] = 'Most Recent'

In [58]:
most_recent_data

,year,survey_name,region,application_method,crop_group,chemical_group,area_treated,weight_applied
0,1990,Arable crops,Eastern,OT,Cereals,Fungicides,4608478.25,1645427.81
1,1990,All,Wales,ST,Cereals,All,25446.01,979.38
2,1990,All,Wales,ST,All,All,27648.01,1054.09
3,1990,All,Wales,OT,Strawberries,All,1222.82,1398.06
4,1990,All,Wales,OT,Pulses,All,1422.03,1110.51
...,...,...,...,...,...,...,...,...
51889,2022,Soft fruit,Northern Ireland,All,Strawberries,Herbicides,0.25,0.57
51890,2022,Soft fruit,Northern Ireland,All,Strawberries,Growth regulators,0.25,0.03
51891,2022,Soft fruit,Northern Ireland,All,Strawberries,Fungicides,49.95,17.09
51892,2022,Soft fruit,Scotland,All,Strawberries,Fungicides,19791.46,9974.63
51893,2022,Soft fruit,South Western,OT,Strawberries,All,1487.78,764.43

In [55]:
len(df)

51894

In [43]:
most_recent_data

,year,survey_name,region,application_method,crop_group,chemical_group,area_treated,weight_applied
0,1990,Arable crops,Eastern,OT,Cereals,Fungicides,4608478.25,1645427.81
1,1990,All,Wales,ST,Cereals,All,25446.01,979.38
2,1990,All,Wales,ST,All,All,27648.01,1054.09
3,1990,All,Wales,OT,Strawberries,All,1222.82,1398.06
4,1990,All,Wales,OT,Pulses,All,1422.03,1110.51
...,...,...,...,...,...,...,...,...
51889,2022,Soft fruit,Northern Ireland,All,Strawberries,Herbicides,0.25,0.57
51890,2022,Soft fruit,Northern Ireland,All,Strawberries,Growth regulators,0.25,0.03
51891,2022,Soft fruit,Northern Ireland,All,Strawberries,Fungicides,49.95,17.09
51892,2022,Soft fruit,Scotland,All,Strawberries,Fungicides,19791.46,9974.63
51893,2022,Soft fruit,South Western,OT,Strawberries,All,1487.78,764.43

In [33]:
# {
#     "name": "projection",
#     "value": "equalEarth",
#     "bind": {
#     "input": "select",
#     "options": [
#         "albers",
#         "albersUsa",
#         "azimuthalEqualArea",
#         "azimuthalEquidistant",
#         "conicConformal",
#         "conicEqualArea",
#         "conicEquidistant",
#         "equalEarth",
#         "equirectangular",
#         "gnomonic",
#         "mercator",
#         "naturalEarth1",
#         "orthographic",
#         "stereographic",
#         "transverseMercator"
#     ]
#     }
# }

params = []
for col_name in ["year", 'survey_name', 'region', 'application_method', 'crop_group', 'chemical_group']:
    options = df[col_name].unique().tolist()
    
    params.append({
        "name": col_name,
        "value": options[-1],
        "bind": {
            "input": "select",
            "options": options
        }
    })

with open("params.json", 'w') as f:
    f.write(json.dumps(params, indent=4))

In [36]:
df.survey_name.unique()

array(['Arable crops', 'Soft fruit', 'Edible protected crops',
       'Outdoor vegetables', 'Orchards', 'Grassland & fodder crops',
       'All'], dtype=object)

In [39]:
df.query("survey_name == 'Grassland & fodder crops' and application_method == 'All' and crop_group == 'All' and chemical_group == 'All'")

,year,survey_name,region,application_method,crop_group,chemical_group,area_treated,weight_applied
943,1993,Grassland & fodder crops,Eastern,All,All,All,171552.06,156909.03
955,1993,Grassland & fodder crops,Midlands & Western,All,All,All,460815.13,406198.70
967,1993,Grassland & fodder crops,Northern,All,All,All,319582.84,239495.17
979,1993,Grassland & fodder crops,Scotland,All,All,All,446827.43,273804.71
988,1993,Grassland & fodder crops,South Eastern,All,All,All,298319.93,190591.32
1000,1993,Grassland & fodder crops,South Western,All,All,All,424886.42,343684.30
1012,1993,Grassland & fodder crops,Wales,All,All,All,141776.37,133665.34
2082,1997,Grassland & fodder crops,Eastern,All,All,All,177053.30,168883.58
2093,1997,Grassland & fodder crops,Midlands & Western,All,All,All,546395.50,411368.41
2105,1997,Grassland & fodder crops,Northern,All,All,All,394907.30,406820.26
2117,1997,Grassland & fodder crops,Scotland,All,All,All,323141.85,211057.93
2125,1997,Grassland & fodder crops,South Eastern,All,All,All,190976.90,104658.99
2136,1997,Grassland & fodder crops,South Western,All,All,All,487419.08,299041.40
2148,1997,Grassland & fodder crops,Wales,All,All,All,153978.44,137268.37
3443,2002,Grassland & fodder crops,Eastern,All,All,All,108045.13,59136.26
3454,2002,Grassland & fodder crops,Midlands & Western,All,All,All,313941.39,168252.94
3466,2002,Grassland & fodder crops,Northern,All,All,All,284971.10,175761.88
3477,2002,Grassland & fodder crops,Scotland,All,All,All,237748.78,127127.43
3489,2002,Grassland & fodder crops,South Eastern,All,All,All,156529.22,82054.46
3501,2002,Grassland & fodder crops,South Western,All,All,All,402888.53,225005.19
3513,2002,Grassland & fodder crops,Wales,All,All,All,96147.10,66499.81
4341,2005,Grassland & fodder crops,Eastern,All,All,All,291964.58,228788.86
4352,2005,Grassland & fodder crops,Midlands & Western,All,All,All,401034.09,159008.33
4364,2005,Grassland & fodder crops,Northern,All,All,All,215558.08,131412.78
4376,2005,Grassland & fodder crops,Scotland,All,All,All,345930.75,162515.72
4388,2005,Grassland & fodder crops,South Eastern,All,All,All,174202.16,76155.72
4399,2005,Grassland & fodder crops,South Western,All,All,All,420966.52,212889.85
4411,2005,Grassland & fodder crops,Wales,All,All,All,175489.84,83781.77
5497,2009,Grassland & fodder crops,Eastern,All,All,All,229856.92,91122.66
5508,2009,Grassland & fodder crops,Midlands & Western,All,All,All,491235.58,206272.76
5519,2009,Grassland & fodder crops,Northern,All,All,All,418997.24,197344.75
5530,2009,Grassland & fodder crops,Scotland,All,All,All,300368.67,123944.86
5542,2009,Grassland & fodder crops,South Eastern,All,All,All,224112.87,68077.97
5554,2009,Grassland & fodder crops,South Western,All,All,All,555681.10,165287.41
5566,2009,Grassland & fodder crops,Wales,All,All,All,139457.02,71037.36
7137,2013,Grassland & fodder crops,Eastern,All,All,All,181818.26,68401.25
7150,2013,Grassland & fodder crops,Midlands & Western,All,All,All,509962.87,172402.25
7164,2013,Grassland & fodder crops,Northern,All,All,All,385741.66,166241.74
7178,2013,Grassland & fodder crops,Northern Ireland,All,All,All,201319.98,94475.71
7193,2013,Grassland & fodder crops,Scotland,All,All,All,184101.05,93627.46
7208,2013,Grassland & fodder crops,South Eastern,All,All,All,161858.41,47845.74
7222,2013,Grassland & fodder crops,South Western,All,All,All,635120.71,203147.75
7237,2013,Grassland & fodder crops,Wales,All,All,All,178601.11,79995.09
8957,2017,Grassland & fodder crops,Eastern,All,All,All,364773.22,137109.66
8971,2017,Grassland & fodder crops,Midlands & Western,All,All,All,567274.69,168631.33
8985,2017,Grassland & fodder crops,Northern,All,All,All,357033.30,145252.73
8999,2017,Grassland & fodder crops,Northern Ireland,All,All,All,155518.83,78554.87
9013,2017,Grassland & fodder crops,Scotland,All,All,All,156649.23,83386.91
9028,2017,Grassland & fodder crops,South Eastern,All,All,All,212019.62,87094.84
9041,2017,Grassland & fodder crops,South Western,All,All,All,461178.35,130173.64
9055,2017,Grassland & fodder crops,Wales,All,All,All,150491.18,38064.52
10653,2021,Grassland & fodder crops,Eastern,All,All,All,532490.42,201351.49
10664,2021,Grassland & fodder crops,Midlands & Western,All,All,All,395376.68,111483.98
10675,2021,Grassland & fodder crops,Northern,All,All,All,402057.20,104650.67
10686,2021,Grassland & fodder crops,Northern Ireland,All,All,All,175632.54,100255.88
10696,2021,Grassland & fodder crops,Scotland,All,All,All,161984.58,72120.82
10707,2021,Grassland & fodder crops,South Eastern,All,All,All,255808.44,70113.65
10718,2021,Grassland & fodder crops,South Western,All,All,All,284686.17,86948.59
10729,2021,Grassland & fodder crops,Wales,All,All,All,109273.85,35845.22

In [41]:
df.year.unique()

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022])

In [35]:
cols = ["year", 'survey_name', 'region', 'application_method', 'crop_group', 'chemical_group']
filters = [f"datum.{col} == {col}" for col in cols]
filters = " && ".join(filters)
filters

'datum.year == year && datum.survey_name == survey_name && datum.region == region && datum.application_method == application_method && datum.crop_group == crop_group && datum.chemical_group == chemical_group'

In [18]:
df

,year,survey_name,application_method,crop_group,region,chemical_group,active,area_treated,weight_applied
0,1990,Arable crops,OT,Cereals,Eastern,Fungicides,Maneb,293898.83,317627.48
1,1990,Arable crops,OT,Cereals,Eastern,Fungicides,Zineb,6876.60,1374.77
2,1990,Arable crops,OT,Cereals,Eastern,Fungicides,Ferbam,6876.60,1374.77
3,1990,Arable crops,OT,Cereals,Eastern,Fungicides,Sulphur,37904.84,242389.80
4,1990,Arable crops,OT,Cereals,Eastern,Fungicides,Captafol,5352.02,4347.24
...,...,...,...,...,...,...,...,...,...
65569,2022,Soft fruit,OT,Strawberries,South Western,Insecticides,Pirimicarb,1.16,0.32
65570,2022,Soft fruit,OT,Strawberries,South Western,Insecticides,Clofentezine,49.41,9.88
65571,2022,Soft fruit,OT,Strawberries,South Western,Insecticides,Spirotetramat,96.50,9.65
65572,2022,Soft fruit,OT,Strawberries,South Western,Insecticides,Cyantraniliprole,27.02,2.03
65573,2022,Soft fruit,OT,Strawberries,South Western,Insecticides,Lambda-cyhalothrin,21.23,0.27

In [16]:
len(df.active.value_counts())

524

In [ ]:
df.crop_group('')

In [13]:
df.survey_name.value_counts()

survey_name
Arable crops                28189
Outdoor vegetables          15836
Soft fruit                   8814
Grassland & fodder crops     5833
Edible protected crops       3722
Orchards                     3180
Name: count, dtype: int64

In [12]:
df.query("active == 'Zineb'")

,year,survey_name,application_method,crop_group,region,chemical_group,active,area_treated,weight_applied
1,1990,Arable crops,OT,Cereals,Eastern,Fungicides,Zineb,6876.60,1374.77
232,1990,Arable crops,OT,Cereals,Scotland,Fungicides,Zineb,1854.00,419.10
612,1990,Arable crops,OT,Oilseeds,Scotland,Fungicides,Zineb,492.00,49.20
724,1990,Arable crops,OT,Potatoes,Eastern,Fungicides,Zineb,2728.13,486.27
807,1990,Arable crops,OT,Potatoes,Northern,Fungicides,Zineb,588.48,98.90
...,...,...,...,...,...,...,...,...,...
58160,1994,Soft fruit,OT,Strawberries,South Eastern,Fungicides,Zineb,6.44,30.34
58536,1998,Soft fruit,OT,Other soft fruit,South Eastern,Fungicides,Zineb,9.02,12.63
58606,1998,Soft fruit,OT,Other soft fruit,South Western,Fungicides,Zineb,318.76,497.68
59317,2001,Soft fruit,OT,Other soft fruit,South Western,Fungicides,Zineb,9.55,7.35
60593,2010,Soft fruit,OT,Other soft fruit,South Eastern,Fungicides,Zineb,0.74,0.36

In [10]:
df.active.unique()

array(['Maneb', 'Zineb', 'Ferbam', 'Sulphur', 'Captafol', 'Mancozeb',
       'Nuarimol', 'Iprodione', 'Triforine', 'Flutriafol', 'Prochloraz',
       'Pyrazophos', 'Tridemorph', 'Carbendazim', 'Fenpropidin',
       'Flusilazole', 'Triadimefon', 'Triadimenol', 'Fenpropimorph',
       'Propiconazole', 'Chlorothalonil', 'Thiophanate-methyl',
       'Mepiquat', 'Chlormequat', 'Choline chloride',
       '2-chloroethylphosphonic acid', 'MCPA', '2,4-D', '2,4-DB',
       'Diquat', 'Bifenox', 'Dicamba', 'Ioxynil', 'Linuron', 'Isoxaben',
       'Mecoprop', 'Paraquat', 'Benazolin', 'Cyanazine', 'Terbutryn',
       'Bromoxynil', 'Clopyralid', 'Fluroxypyr', 'Glyphosate',
       'Mecoprop-P', 'Tri-allate', 'Trietazine', 'Dichlorprop',
       'Difenzoquat', 'Isoproturon', 'Trifluralin', 'Diflufenican',
       'Chlorotoluron', 'Chlorsulfuron', 'Pendimethalin',
       'Diclofop-methyl', 'Flamprop-methyl', 'Fenoxaprop-ethyl',
       'Benzoylprop-ethyl', 'Methabenzthiazuron', 'Metsulfuron-methyl',
       'Flamprop-M-isopropyl', 'Imazamethabenz-methyl',
       'Thifensulfuron-methyl', 'Fonofos', 'Gamma-HCH', 'Omethoate',
       'Bifenthrin', 'Cyfluthrin', 'Dimethoate', 'Pirimicarb',
       'Fenvalerate', 'Chlorpyrifos', 'Cypermethrin', 'Deltamethrin',
       'Chlorfenvinphos', 'Demeton-S-methyl', 'Oxydemeton-methyl',
       'Alpha-cypermethrin', 'Methiocarb', 'Metaldehyde', 'Benomyl',
       'MCPB', 'Pyridate', 'Fluazifop-P-butyl', 'Lambda-cyhalothrin',
       'Cyproconazole', 'Bentazone', 'Copper oxychloride',
       'Zineb-ethylene thiuram disulphide adduct', 'Asulam', 'Quinalphos',
       'Copper hydroxide', 'Simazine', 'Metoxuron', 'Metalaxyl',
       'Vinclozolin', 'TCA', 'Tebutam', 'Sethoxydim', 'Carbetamide',
       'Metazachlor', 'Propyzamide', 'Quizalofop-ethyl', 'Phosalone',
       'Triazophos', 'Phorate', 'Aldicarb', 'Ofurace', 'Cymoxanil',
       'Manganese zinc ethylene bisdithiocarbamate', 'Alachlor',
       'Azinphos-methyl', 'Demeton-S-methyl sulphone', 'Oxadixyl',
       'Benalaxyl', 'Fentin acetate', 'Fentin hydroxide',
       'Maleic hydrazide', 'Metribuzin', 'Monolinuron', 'Terbuthylazine',
       'Oxamyl', 'Disulfoton', 'Heptenophos', 'Sulphuric acid',
       '1,3-dichloropropene', 'Ethoprophos', 'EPTC', 'Sodium chlorate',
       'Alloxydim-sodium', 'Daminozide', 'Prometryn', 'Fenitrothion',
       'Atrazine', 'Fenuron', 'Lenacil', 'Propham', 'Metamitron',
       'Chloridazon', 'Chlorpropham', 'Ethofumesate', 'Phenmedipham',
       'Carbofuran', 'Benfuracarb', 'Carbosulfan', 'Bendiocarb',
       'Carboxin', 'Imazalil', 'Ethirimol', 'Guazatine', 'Fuberidazole',
       'Thiabendazole', 'Phenylmercury acetate',
       '2-methoxyethylmercury acetate', 'Carbophenothion', 'Captan',
       'Thiram', 'Pencycuron', '2-aminobutane', 'Tolclofos-methyl',
       'Zinc oxide', 'Drazoxolon', 'Fosetyl-aluminium', 'Hymexazol',
       'Cycloxydim', 'Bromofenoxim', 'Glufosinate-ammonium',
       'Sulphonated cod liver oil', 'Benodanil', 'Fenoxaprop-P-ethyl',
       'Ziram', 'Aluminium ammonium sulphate', 'Triasulfuron',
       'Triclopyr', 'Dimefuron', 'Benazolin ethyl', 'Bordeaux mixture',
       'Trichlorfon', 'Oxine-copper', 'Tefluthrin', 'Tebuconazole',
       'Imazaquin', 'Tralkoxydim', 'Amidosulfuron', 'Tribenuron-methyl',
       'Fluoroglycofen-ethyl', 'Glyphosate-trimesium', 'Esfenvalerate',
       'Thiodicarb', 'Anilazine', 'Copper sulphate', 'Aluminium sulphate',
       'Propachlor', 'Propaquizafop', 'Desmetryn', 'Fluazinam',
       'Dimethomorph', 'Propamocarb hydrochloride', 'Dazomet',
       'Desmedipham', 'Bitertanol', 'Triazoxide', 'Fenpiclonil',
       'Imidacloprid', 'Epoxiconazole', 'Fenbuconazole', 'Difenoconazole',
       'Trinexapac-ethyl', 'Metosulam', 'Flufenacet',
       'Clodinafop-propargyl', 'Mepiquat chloride', 'Barban',
       'Rimsulfuron', 'Nicotine', 'Fomesafen', 'Triflusulfuron-methyl',
       'Fludioxonil', 'Cyprodinil', 'Quinoxyfen', 'Spiroxamine',
       'Azoxystrobin', 'Bromuconazole', 'Kresoxim-methyl',
       'Chlormequat chloride', 'Flurtamone', 'Carfentrazone-ethyl',
       'Flupyrsulfuron-methyl', 'Tau-fluvalinate', 'Zeta-cypermethrin',
       'Quizalofop-P-ethyl', 'Quinmerac', 'Fosthiazate', 'Metalaxyl-M',
       'Triazamate', 'Anthraquinone', 'Metconazole', 'Tetraconazole',
       'Fluquinconazole', 'Trifloxystrobin', 'Florasulam',
       'Cinidon-ethyl', 'Sulfosulfuron', 'Famoxadone', 'Permethrin',
       'Tepraloxydim', 'Pymetrozine', 'Gibberellic acid',
       '1-naphthylacetic acid', 'Triticonazole', 'Isofenphos',
       'Beta-cyfluthrin', 'Picoxystrobin', 'Pyraclostrobin',
       'Picolinafen', 'Propoxycarbazone-sodium',
       'Iodosulfuron-methyl-sodium', 'Dichlorprop-P', 'Clomazone',
       'Zoxamide', 'Cyazofamid', 'Dithianon', 'Silthiofam', 'Metrafenone',
       'Dimoxystrobin', 'Mesosulfuron-methyl', 'Boscalid', 'Picloram',
       'Napropamide', 'Fenamidone', 'Flutolanil', 'Proquinazid',
       'Cyflufenamid', 'Fluoxastrobin', 'Prothioconazole', 'Pinoxaden',
       'Prosulfocarb', 'Prohexadione-calcium', 'Quizalofop-P-tefuryl',
       'Dimethenamid-P', 'Fluopicolide', 'Benthiavalicarb-isopropyl',
       'Flonicamid', 'Thiacloprid', 'Ferric phosphate', 'Sodium chloride',
       'Pyrimethanil', 'Clothianidin', 'Flumioxazine',
       'Ammonium thiosulphate', 'Mandipropamid', 'Thiamethoxam',
       'Amisulbrom', 'Acetamiprid', 'Imazamox', 'Isopyrazam',
       'Pyroxsulam', 'Pyraflufen-ethyl', 'Mesotrione', 'Ametoctradin',
       'Ipconazole', 'Folpet', 'Bixafen', 'Fluxapyroxad', 'Indoxacarb',
       'Fluopyram', 'Penthiopyrad', 'Pyriofenone', 'Cloquintocet-mexyl',
       'Clethodim', 'Aminopyralid', 'Dimethachlor', 'S-metolachlor',
       'Fipronil', 'Halauxifen-methyl', 'Paclobutrazol',
       'Ethametsulfuron-methyl', 'Garlic', 'Metobromuron',
       'Benzovindiflupyr', 'Fatty acids C7-C20', 'Imazosulfuron',
       'Oxathiapiprolin', 'Sedaxane', 'Penflufen', 'Mefentrifluconazole',
       'Benthiavalicarb', 'Aclonifen', 'Spirotetramat', 'Foramsulfuron',
       'Thiencarbazone-methyl',
       'Bacillus amyloliquefaciens strain MBI 600', 'Cyantraniliprole',
       'Laminarin', 'Fenpicoxamid', 'Dinocap', 'Fenarimol', 'Furalaxyl',
       'Bupirimate', 'Quintozene', 'Etridiazole', 'Dichlofluanid',
       'Cupric ammonium carbonate', 'Cetrimide', 'Dicofol', 'Diazinon',
       'Malathion', 'Dichlorvos', 'Tetradifon', 'Fenbutatin oxide',
       'Pirimiphos-methyl', 'Verticillium lecanii', 'Tar oil',
       'Tar acids', 'Chloropicrin', 'Methyl bromide', 'Propoxur',
       'Petroleum oil', 'Teflubenzuron', 'Bacillus thuringiensis',
       'Dichlorophen', '(2-naphthyloxy)acetic acid', 'Pyrethrins',
       'Resmethrin', 'Dodecylbenzyl trimethylammonium chloride',
       'Bromophos', 'Ammonium carbonate', '4-indol-3-ylbutyric acid',
       'Bromacil', 'Diflubenzuron', 'Fenpropathrin', 'Metam-sodium',
       'Nabam', 'Tecnazene', 'Prochloraz-manganese', 'Pentanochlor',
       'Rotenone', 'Myclobutanil', 'Buprofezin', 'Endosulfan',
       'Quinomethionate', 'Aziprotryne', 'Dicloran', 'Clofentezine',
       'Pyrifenox', 'Fenhexamid', 'Sodium monochloroacetate', 'Abamectin',
       'Tebufenpyrad', 'Terbacil', 'Mepanipyrim', 'Quinoclamine',
       'Maltodextrin', 'Bacillus thuringiensis var. kurstaki',
       'Chlorthal-dimethyl', 'Spinosad', 'Tolylfluanid',
       'Bacillus subtilis', 'Potassium hydrogen carbonate',
       'Spiromesifen', 'Coniothyrium minitans', 'Iodophor', 'Acetic acid',
       'Diuron', 'Benzoic acid', 'Penconazole', 'Trichoderma harzianum',
       'Etoxazole', 'Bifenazate', 'Beauveria bassiana ATCC-74040',
       'Fenpyroximate', 'Triflumizole',
       'Gliocladium catenulatum strain J1446', 'Spirodiclofen',
       'Trichoderma spp.', 'Lecanicillium muscarium strain Ve6',
       'Ampelomyces quisqualis strain AQ 10', 'Chlorantraniliprole',
       'Metarhizium anisopliae', '(E,E)-8,10-dodecadien-1-ol',
       'Bacillus subtilis strain QST 713', 'Formaldehyde',
       'Gluteraldehyde', 'Hydrofluoric acid', 'Hydrogen peroxide',
       'Peroxyacetic acid', 'Quaternary ammonium complex',
       'Cocobenzyl dimethyl ammonium chloride', 'Fenpyrazamine',
       'Chlorine dioxide', 'Sodium hypochlorite', 'Oleum foeniculi',
       'Phosphorous acid and salts', 'Benzalkonium chloride',
       'Natural plant extracts', 'Beauveria bassiana GHA',
       '(E,Z)-3,8-tetradecadien-1-yl acetate',
       '(E,Z,Z)-3,8,11-tetradecatrien-1-yl acetate',
       'Methyl isothiocyanate', 'Meptyldinocap',
       'Trichoderma asperellum strain T34', 'Diatomaceous earth',
       'Calcium hydroxide', 'COS-OGA',
       'Bacillus amyloliquefaciens subsp. plantarum strain D747',
       'Sulfoxaflor', 'Methoxyfenozide',
       'Cerevisane (saccharomyces cerevisiae strain LAS 117)', 'Sugar',
       'Mild pepino mosaic virus isolate VC1',
       'Mild pepino mosaic virus isolate VX1',
       'Bacillus pumilus strain QST 2808', 'Cyflumetofen', 'Hexythiazox',
       'Pepino mosaic virus strain CH2 isolate 1906', '2,4,5-T',
       'Amitrole', 'Dalapon', 'Growth promoters', 'Dichlobenil',
       'Citronella oil', 'Prosulfuron', 'Nicosulfuron', 'Isoxaflutole',
       'Chitosan hydrochloride', 'Dodine', 'Octhilinone',
       'Nitrothal-isopropyl', '2,4,5-TP', 'Carbaryl', 'Gibberellins',
       'Oxadiazon', 'Amitraz', 'Vamidothion', 'Tetrachlorvinphos',
       'Mercuric oxide', 'Fenazaquin', 'Fenoxycarb', 'Anthracene oil',
       'Cydia pomonella granulovirus', '6-benzyladenine', 'Kaolin',
       '6-benzylaminopurine', 'Chlorine', 'Polysaccharides',
       'Adoxophyes orana gv strain bv-0001',
       'Potassium phosphonate (phosphite)', 'Prohexadione',
       'n-tetradecyl acetate', 'Z-11 tetradecenyl acetate', 'Acequinocyl',
       'Pyriproxyfen', 'Fatty acids', 'Aureobasidium pullulans',
       'Bacillus thuringiensis kurstaki SA-11', 'Thiometon',
       'Iodofenphos', 'Mercurous chloride', 'Aldrin', 'Diphenamid',
       'Chlorbufam', 'Procymidone', 'Dichlofenthion', 'Tetramethrin',
       'Milk', 'Bacillus thuringiensis var. israelensis', 'Propineb',
       'DNOC', 'Propargite', 'Chloroxuron', 'Cyhexatin', 'Alkyl benzenes',
       'Alkyl sulphonates', 'Ammonium sulphamate',
       'E-11 tetradecenyl acetate', 'E,E-9,11 tetradecadienyl acetate',
       'Flazasulfuron', 'Azadirachtin', 'Potassium salts of fatty acids',
       'Trichoderma atroviride strain SC1', 'Vinegar', 'Calcium chloride',
       'Bacillus amyloliquefaciens strain FZB24'], dtype=object)

In [9]:
df.chemical_group.value_counts()

chemical_group
Fungicides           24756
Herbicides           23597
Insecticides         12640
Molluscicides         2040
Growth regulators     1665
Others                 876
Name: count, dtype: int64

In [8]:
df.crop_group.value_counts()

crop_group
Cereals                     11853
Oilseeds                     5864
Potatoes                     4511
Other soft fruit             4436
Strawberries                 4378
Pulses                       3941
Protected edible crops       3722
Orchards                     3180
Other fodder crops           3037
Brassicas                    2825
Onions & leeks               2494
Other outdoor vegetables     2353
Carrots, parsnips etc.       2333
Peas & beans                 1870
Sugar beet                   1787
Grassland                    1539
Lettuce, endive etc.         1508
Other root vegetables        1202
Maize                         994
Root crucifers                705
Cucurbits                     330
Fodder beet                   263
Other arable crops            233
Sweetcorn                     216
Name: count, dtype: int64

In [14]:
gdf

,id,LEVL_CODE,NUTS_ID,CNTR_CODE,NAME_LATN,NUTS_NAME,MOUNT_TYPE,URBN_TYPE,COAST_TYPE,FID,geometry
0,UKK,1,UKK,UK,SOUTH WEST (ENGLAND),SOUTH WEST (ENGLAND),0,0,0,UKK,"MULTIPOLYGON (((-1.66573 51.98749, -1.63700 51..."
1,UKL,1,UKL,UK,WALES,WALES,0,0,0,UKL,"MULTIPOLYGON (((-3.36339 53.35203, -3.16975 53..."
2,UKN,1,UKN,UK,NORTHERN IRELAND,NORTHERN IRELAND,0,0,0,UKN,"MULTIPOLYGON (((-5.97653 55.05660, -5.97080 54..."
3,UKC,1,UKC,UK,NORTH EAST (ENGLAND),NORTH EAST (ENGLAND),0,0,0,UKC,"POLYGON ((-1.34737 54.86069, -1.24223 54.72259..."
4,UKD,1,UKD,UK,NORTH WEST (ENGLAND),NORTH WEST (ENGLAND),0,0,0,UKD,"POLYGON ((-2.68975 55.18906, -2.65030 55.13921..."
5,UKE,1,UKE,UK,YORKSHIRE AND THE HUMBER,YORKSHIRE AND THE HUMBER,0,0,0,UKE,"POLYGON ((-0.79091 54.55948, -0.54857 54.45762..."
6,UKF,1,UKF,UK,EAST MIDLANDS (ENGLAND),EAST MIDLANDS (ENGLAND),0,0,0,UKF,"POLYGON ((0.01738 53.52537, 0.09692 53.49770, ..."
7,UKG,1,UKG,UK,WEST MIDLANDS (ENGLAND),WEST MIDLANDS (ENGLAND),0,0,0,UKG,"POLYGON ((-1.98738 53.21361, -1.86643 53.18290..."
8,UKH,1,UKH,UK,EAST OF ENGLAND,EAST OF ENGLAND,0,0,0,UKH,"POLYGON ((1.67548 52.74269, 1.73639 52.64175, ..."
9,UKI,1,UKI,UK,LONDON,LONDON,0,0,0,UKI,"POLYGON ((-0.24042 51.49011, -0.22283 51.47182..."
10,UKJ,1,UKJ,UK,SOUTH EAST (ENGLAND),SOUTH EAST (ENGLAND),0,0,0,UKJ,"MULTIPOLYGON (((-0.66810 52.19503, -0.59177 52..."
11,UKM,1,UKM,UK,SCOTLAND,SCOTLAND,0,0,0,UKM,"MULTIPOLYGON (((-0.79878 60.81101, -0.78043 60..."

In [9]:
gdf.NAME_LATIN

AttributeError: 'GeoDataFrame' object has no attribute 'NAME_LATIN'

In [12]:
gdf.NAME_LATN.unique()

array(['SOUTH WEST (ENGLAND)', 'WALES', 'NORTHERN IRELAND',
       'NORTH EAST (ENGLAND)', 'NORTH WEST (ENGLAND)',
       'YORKSHIRE AND THE HUMBER', 'EAST MIDLANDS (ENGLAND)',
       'WEST MIDLANDS (ENGLAND)', 'EAST OF ENGLAND', 'LONDON',
       'SOUTH EAST (ENGLAND)', 'SCOTLAND'], dtype=object)

In [ ]:
df = pd.read_csv('data/geo_data.geojson')